# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual envs
venv/
.env/
.conda/

# Models (VERY IMPORTANT)
*.gguf
*.bin
*.safetensors
# transcripts
transcripts
temp

# zip files
*.zip

# DB
vector_DB
chroma_db
chroma_db2


# LLM / cache
.cache/
logs/
embedding_model

# OS
.DS_Store
Thumbs.db
.env
**/.env
app/.env
